<h1>Artists Albums</h1>

{{# each items}}
    <div>{{this.name}}</div>
    <div>
        <img src={{this.images.0.url}} alt="">
    </div>
    <div>
        <a href="/tracks/{{this.id}}">View Tracks</a>
    </div>
{{/each}}